.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-gap: 20px; 
    border: 1px solid black; 
    text-align: center;
    width: 75%;
    float: left;

}

.header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr  1fr ; 
    text-align: center;
}


.total {
    text-align: center;
    margin-top: 50px;
}
