@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


#map {
  display: flex;
  height: 70%;
  margin-left: 5%;
  margin-right: 5%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #e2d2b8;
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #535756;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}



nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: bdc093;
  ;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}


.bg_img {
  padding: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url("./imgs/palmtrees.jpg");
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #bdc093;
}

.color {
  background-color: #535756;
  color: #bdc093;
  border-color: transparent;
}

#container {
display: flex;
align-content: center;
justify-content: center;
}

#container button {
  align-items: center;
  margin: 20px;
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  border-width: 1px;
  font-size: .875rem;
  font-weight: 700;
}



